img{
    max-width: 100%;
    height: auto;
    width: auto;
}
body
{
	margin: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	background-image: url('img/gray_sand.png');
}
h1.logo
{
	font-family: 'Zilla Slab', serif;
	color: #EB1D16;
	font-size: 85px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;
}
#topnav
{
	text-align: center;
}
.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}
.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #fff;
	font-size: 30px;
}

.menu > li:first-child
{
	border-left: 1px dashed #fff;
}

.menu a
{
	color: #fff;
	text-decoration: none;
}

.menu a:hover
{
	color: #EB1D16;
}

#content
{
	text-align: center;
	margin-top: 50px;
}
#baner
{
	width: 100%;
	height: 200px;
}
h1
{
	color: #EB1D16;
}
#telefon
{
	font-size:44px;
}
p
{
	font-size: 30px;
	color: #EB1D16;
}
#footer
{
	text-align: center;
	font-size: 30px;
	background-color: black;
	margin-top: 5px;
}
a.sociallink
{
	color: #3b5888;
	text-decoration: none;
}
.cena
{
	display: inline-block;
}
.galeria
{
	display: inline-block;
	width: 30%;
	text-align: center;
	padding: 5px;
}